body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: aqua;
}

h1 {
  text-align: center;
}

.input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input-container > input {
  width: 300px;
  height: 25px;
  font-size: 1.25rem;
  border-radius: 5px;
}

.input-container > button {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: red;
  font-size: 1.5rem;
  margin-top: 5px;
}

.container {
  margin-top: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.todo {
  color: black;
  width: 500px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0px 10px;
  border-radius: 10px;
}
.actions {
  margin-top: 10px;
}

.actions > button {
  background-color: red;
  color: white;
  width: 75px;
  height: 30px;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-left: 10px;
}
